<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ukOU6O2tED7gDXGBXU0FNbI0MNy0ENx3tr_B607oGip9LKonVyx0al7xlByIbJJV2o_DSx744Q6ei3_mq9ySAGXD1-k1lX101WXgabdNnkMu9U8Gl5zVmIhpK7hxoWhHg0UQG4BWFWE75OsnoyEJclN8h7-00ZhV6AOo-b9jD_Sm9_5RxVlgURVcv9URt9HH9Vjl6lSHQtseja9PJG91NRRULawCo3mChsFPKEIAbf8Mar0p0PvqWI6BABPK7_kN6GZxSUKoL0T3rLsE1hkt_LvAsfn-GY6sEm8FdAseHTQR28twP3oC_QdKQ1TyfLGkNGhfz2pEOApGei0KgYI6R_4tMDm3hcZthzVuWn1Gp7nlPzk3Atcmnc61he2lf13xg8s1z22rsaybxf90MKjg_d9De94SV_LmFZFMUYf1sl5jePKbLwPiAk1j3QqQueBKf6PTzNXtdZlDzd2rx3n_Q2jqR742rI-Nj00m6eJatn4" charset="UTF-8"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Smart shop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="/user/{{student.student_university_ID}}" >Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					{% if status == '1' %}
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							สถานะพี่เหน่ง <span class="badge badge-success">ON</span>
						</button>
					{% endif %}
					{% if status == '0' %}
						<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
							สถานะพี่เหน่ง <span class="badge badge-danger">OFF</span>
						</button>
					{% endif %}
				</li>
				
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<span class="navbar-text">
						{{student.student_university_ID}}  {{student.name}} {{student.surname}}  
					</span>
				</form> 
			</div>
		  </nav>
			<h1><table border="5">
					<tr>
						<th>{{student.student_university_ID}}</th>
						<th>{{student.name}} {{student.surname}}</th>
					</tr>
				</table>
			</h1>
		<h2>Edit Tool</h2>
		<div class="container">
			<div class="row">
				<h3>Tool Cart</h3>
			</div>
			<div class="row" id= "row2">
				<table class="table" id="table1" style="width:50%; float:left">
					<thead class= "thead-dark">
						<tr>
							<th scope="col">Image</th>
							<th scope="col">Name</th>
							<th scope="col">Total</th>
							<th scope="col">In Stock</th>
							<th scope="col">Quantity</th>
						</tr>
					</thead>
					<tbody id="tableProducts">
						{% for tool in alltool %}
						<tr>
							<td><img style="height: 5rem;" src="{{ url_for('static', filename='picture/no-image.png') }}" alt ="NoIMG"></td>
							<td>{{tool.name}}</td>
							<td>{{tool.total}}</td>
							<td>{{tool.in_stock}}</td>
							<td>
								<button class="btn btn-primary">-</button>
								<input style="width: 2rem;" value="1" disabled>
								<button class="btn btn-primary">+</button>
							</td>
						{% endfor %}
						</tr>
					</tbody>
					<tfoot id= "total">

					</tfoot>
				</table>
				

				<table class="table" id="table2" style="width:50%; float:right">
						<thead class= "thead-light">
							<tr>
								<th scope="col">Image</th>
								<th scope="col">Name</th>
								<th scope="col">Quantity</th>
							</tr>
						</thead>
						<tbody id="tableProducts">
							<tr>
								<td><img style="height: 5rem;" src="{{ url_for('static', filename='picture/0.1.jpg') }}" alt ="IMGP1"></td>
								<td>เลื่อยตัดเหล็ก</td>
								<td>
									<button class="btn btn-primary">-</button>
									<input style="width: 2rem;" value="1" disabled>
									<button class="btn btn-primary">+</button>
								</td>
							</tr>
						</tbody>
						<tfoot id= "total">
	
						</tfoot>
					</table>


		</div>
		<a class="btn btn-danger btn-xs" href="/user/{{student.student_university_ID}}" >Cancel&Exit</a>
	    </body>
</html>