<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=ukOU6O2tED7gDXGBXU0FNbI0MNy0ENx3tr_B607oGip9LKonVyx0al7xlByIbJJV2o_DSx744Q6ei3_mq9ySAGXD1-k1lX101WXgabdNnkMu9U8Gl5zVmIhpK7hxoWhHg0UQG4BWFWE75OsnoyEJclN8h7-00ZhV6AOo-b9jD_Sm9_5RxVlgURVcv9URt9HH9Vjl6lSHQtseja9PJG91NRRULawCo3mChsFPKEIAbf8Mar0p0PvqWI6BABPK7_kN6GZxSUKoL0T3rLsE1hkt_LvAsfn-GY6sEm8FdAseHTQR28twP3oC_QdKQ1TyfLGkNGhfz2pEOApGei0KgYI6R_4tMDm3hcZthzVuWn1Gp7nlPzk3Atcmnc61he2lf13xg8s1z22rsaybxf90MKjg_d9De94SV_LmFZFMUYf1sl5jePKbLwPiAk1j3QqQueBKf6PTzNXtdZlDzd2rx3n_Q2jqR742rI-Nj00m6eJatn4" charset="UTF-8"></script><script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>	
	<body>
			<h1><table border="5">
					<tr>
						<th>{{student.student_university_ID}}</th>
						<th>{{student.name}} {{student.surname}}</th>
					</tr>
				</table>
			</h1>
		<h2>Edit Tool</h2>
		<div class="container">
			<!-- <div class="row">
				<h2>Tools</h2>
			</div> -->
			<!-- <div class="row" id= "row1">
				<div class="card m-2" style="width: 170px;">
					<img src="DSC_0195.jpg" class="card-img-top">
					<div class="card-body">
						<h5 class="card-title">ตุ๊กตาโปเกมอน</h5>
						<p class="card-text">จำนวน 5 ชิ้น</p>
						<button class="btn btn-primary" onclick="">Add</button>
					</div>
				</div>
			</div> -->
			<div class="row">
				<h3>Tool Cart</h3>
			</div>
			<div class="row" id= "row2">
				<table class="table" id="table1" style="width:50%; float:left">
					<thead class= "thead-dark">
						<tr>
							<!-- <th scope="col">#</th>
							<th scope="col">Remove</th> -->
							<th scope="col">Image</th>
							<th scope="col">Name</th>
							<th scope="col">Quantity</th>
							<!-- <th scope="col">Price</th> -->
						</tr>
					</thead>
					<tbody id="tableProducts">
						<tr>
							<td><img style="height: 5rem;" src="{{ url_for('static', filename='picture/0.1.jpg') }}" alt ="IMGP1"></td>
							<td>เลื่อยตัดเหล็ก</td>
							<td>
								<button class="btn btn-primary">-</button>
								<input style="width: 2rem;" value="1" disabled>
								<button class="btn btn-primary">+</button>
							</td>
						</tr>
					</tbody>
					<tfoot id= "total">

					</tfoot>
				</table>
				

				<table class="table" id="table2" style="width:50%; float:right">
						<thead class= "thead-light">
							<tr>
								<!-- <th scope="col">#</th>
								<th scope="col">Remove</th> -->
								<th scope="col">Image</th>
								<th scope="col">Name</th>
								<th scope="col">Quantity</th>
								<!-- <th scope="col">Price</th> -->
							</tr>
						</thead>
						<tbody id="tableProducts">
							<tr>
								<td><img style="height: 5rem;" src="{{ url_for('static', filename='picture/0.1.jpg') }}" alt ="IMGP1"></td>
								<td>เลื่อยตัดเหล็ก</td>
								<td>
									<button class="btn btn-primary">-</button>
									<input style="width: 2rem;" value="1" disabled>
									<button class="btn btn-primary">+</button>
								</td>
							</tr>
						</tbody>
						<tfoot id= "total">
	
						</tfoot>
					</table>


		</div>
		<a class="btn btn-danger btn-xs" href="/user/{{student.student_university_ID}}" >Cancel&Exit</a>
	    </body>
</html>