<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
			.zoom{
				width: 100;
				transition: transfrom .3s;	
			}
			.zoom:hover{
				-ms-transform: scale(2); /* IE 9 */
  				-webkit-transform: scale(2); /* Safari 3-8 */
  				transform: scale(2); 
			}
		</style>
	</head>	
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Smart shop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="/user/{{student.student_university_ID}}" >Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					{% if status == '1' %}
						<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
							สถานะพี่เหน่ง <span class="badge badge-success">ON</span>
						</button>
					{% endif %}
					{% if status == '0' %}
						<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
							สถานะพี่เหน่ง <span class="badge badge-danger">OFF</span>
						</button>
					{% endif %}
				</li>
				
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<span class="navbar-text">
						{{student.student_university_ID}}  {{student.name}} {{student.surname}}  
					</span>
				</form> 
			</div>
		  </nav>
			
		<h2>Edit Tool</h2>
		
		<div class="container">
			<div class="row" >
				<h3>Tool Cart</h3>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-danger btn-xs" href="/user/{{student.student_university_ID}}" style="float:right">Exit</a>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-xs" href="/user/{{student.student_university_ID}}/{{toollist.id}}/confirm" >confirm</a>
			</div><br>
			
			<div class="row" id= "row2" >
				<table class="table" id="table1" style="width:45%; float:left">
					<thead class= "thead-dark">
						<tr>
							<th scope="col">Image</th>
							<th scope="col" style="width: 7rem;">Name</th>
							<th scope="col">Total</th>
							<th scope="col">In Stock</th>
							<th scope="col">Add</th>
						</tr>
					</thead>
					<tbody id="tableProducts">
						{% for tool in alltool %}
						<tr>
							{% if tool.picture == "" %}
							<td><img class="zoom" src="{{ url_for('static', filename='picture/no-image.png') }}" alt ="NoIMG"></td>
							{% else %}
							<td><img class="zoom" src="{{ url_for('static', filename='picture/' + tool.picture + '.jpg') }}" alt ="NoIMG"></td>
							{% endif %}
							<td style="width: 10rem">{{tool.name}}</td>
							<td>{{tool.total}}</td>
							<td>{{tool.in_stock}}</td>
							<td>
								<a href="/user/{{student.student_university_ID}}/{{toollist_id}}/{{tool.id}}/add_tool" class="btn btn-warning btn-xs btn-sm" >Add</a>
							</td>
						{% endfor %}
						</tr>
					</tbody>
					<tfoot id= "total">

					</tfoot>
				</table>
				

				<table class="table" id="table2" style="width:55%; float:right">
						<thead class= "thead-light">
							<tr>
								<th scope="col">Image</th>
								<th scope="col" style="width: 10rem">Name</th>
								<th scope="col">Amount</th>
								<th scope="col">Delete</th>
							</tr>
						</thead>
						<tbody id="tableProducts">
							{% for order in toollist.orders %}
							<tr>
								{% if order.tool.picture == "" %}
								<td><img class="zoom" src="{{ url_for('static', filename='picture/no-image.png') }}" alt ="NoIMG"></td>
								{% else %}
								<td><img class="zoom" src="{{ url_for('static', filename='picture/' + order.tool.picture + '.jpg') }}" alt ="NoIMG"></td>
								{% endif %}								
								<td style="width: 10rem">{{order.tool.name}}</td>
								<td>
										<a href="/user/{{student.student_university_ID}}/{{toollist.id}}/edit/{{order.tool}}/minus" class="btn btn-primary" >-</a>
										<input style="width: 2rem;" name="amout" value="{{order.amount}}" disabled>
										<button class="btn btn-primary">+</button>
									</td>
								<td>
									<a href="#" class="btn btn-danger btn-xs btn-sm" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
								</td>
							</tr>
							{% endfor %}
							
						</tbody>
						<tfoot id= "total">
	
						</tfoot>
					</table>
			</div>
			
			<a class="btn btn-danger btn-xs" href="/user/{{student.student_university_ID}}" >Exit</a>
		</div>
	    </body>
</html>