<meta http-equiv="Refresh" content="2">
<html>
	<head>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>	
	<body>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
					<a class="navbar-brand" href="#">Smart shop</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
		  
					<div class="collapse navbar-collapse" id="navbarSupportedContent">
					  <ul class="navbar-nav mr-auto">
						<li class="nav-item active">
						  <a class="nav-link" href="/user/{{student.student_university_ID}}" >Home <span class="sr-only">(current)</span></a>
						</li>
						<li class="nav-item">
							{% if status == '1' %}
								<button class="btn btn-outline-success my-2 my-sm-0" type="submit">
									สถานะพี่เหน่ง <span class="badge badge-success">ON</span>
								</button>
							{% endif %}
							{% if status == '0' %}
								<button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
									สถานะพี่เหน่ง <span class="badge badge-danger">OFF</span>
								</button>
							{% endif %}
						</li>
						
					    </ul>
					    <form class="form-inline my-2 my-lg-0">
							<span class="navbar-text">
								{{student.student_university_ID}}  {{student.name}} {{student.surname}}  
							</span>
					    </form> 
					</div>
				  </nav><br>
		
		{% for list in lists %}
			{% if list.stored == 0 %}
				<table border="5">
					<tr>
						<th>
							{% if list.approved_status == 0 %}
								<a href="/user/{{student.student_university_ID}}/{{list.id}}/edit" class="btn btn-warning btn-xs btn-sm" >Edit</a>
								<a href="/user/{{student.student_university_ID}}/{{list.id}}/delete" class="btn btn-danger btn-xs btn-sm" onclick="return confirm('คุณต้องการลบข้อมูลหรือไม่?')">Delete</a>
							{% endif %}
							{% if list.approved_status == 1 %}
								<a href="/user/{{student.student_university_ID}}/{{list.id}}/view" class="btn btn-warning btn-xs btn-sm" >View</a>
							{% endif %}
								<br>Created: {{list.created_datetime}}
							<br>Last Edited: {{list.last_edited_datetime}}
							{% if list.approved_status == 1 %}
								<br>Approved: {{list.approved_datetime}}
							{% endif %}
							{% if list.returned_status == 1 %}
								<br>Returned: {{list.returned_datetime}}
							{% endif %}
						</th>
						<th>Amount</th>
					</tr>
					{% for order in list.orders %}
					<tr>
						<td>{{order.tool.name}}</td>
						<td>{{order.amount}}</td>
					{% endfor %}
					</tr>
				</table>
			{% endif %}
		{% endfor %}
		<a class="btn btn-dark" href="/user/{{student.student_university_ID}}/new" >Creat new list</a>
		<a class="btn btn-danger btn-xs" href="/" >Logout</a>
	    </body>
</html>