<!DOCTYPE html>
<html lang="en" dir="ltr">
<body>
        <table align="center" bgcolor="#ffffff" border="1.5" bordercolor="black" cellspacing="0" width="600">
                <tr>
                    <td width="450"><font face= "Angsana New", size="4"><div align="center" margin-top="5cm"><B>
                        Managing Stock
                    </B></font></div></td>
                    <td width="150"><font face= "Angsana New", size="4"><div align="center" margin-top="5cm">
                        Create new
                    </font></div></td>
        <table align="center" bgcolor="#ffffff" border="1.5" bordercolor="black" cellspacing="0" width="600">
                <tr>
                    <td width="50"><font face= "Angsana New", size="4"><div align="center" margin-top="5cm">
                        ลำดับที่
                    </font></div></td>
                    <td width="450"><font face= "Angsana New", size="4"><div align="center" margin-top="5cm">
                        รายการ
                    </font></div></td>
                    <td width="50"><font face= "Angsana New", size="4"><div align="center" margin-top="5cm">
                        Edit
                    </font></div></td>
                    <td width="50"><font face= "Angsana New", size="4"><div align="center" margin-top="5cm">
                        หมายเหตุ
                    </font></div></td>
                </tr>
    
</body>