<html>
	<head>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<style>
			.zoom{
				width: 100;
				transition: transfrom .3s;	
			}
			.zoom:hover{
				-ms-transform: scale(2); /* IE 9 */
  				-webkit-transform: scale(2); /* Safari 3-8 */
  				transform: scale(2); 
			}
            @media screen and (max-width: 450px) {
                .login-form{
                    margin-top: 10%;
                }
            }
            @media screen and (min-width: 768px){
                .main{
                    margin-left: 42%; 
                }
                .login-form{
                    margin-top: 70%;
                }
            }
		</style>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">Smart shop</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
				  <a class="nav-link" href="/user/{{student.student_university_ID}}" >Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="on">
						สถานะพี่เหน่ง <span class="badge badge-success">ON</span>
					</button>
					<button class="btn btn-outline-danger my-2 my-sm-0" type="submit" id="off">
						สถานะพี่เหน่ง <span class="badge badge-danger">OFF</span>
					</button>
				</li>
				
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<span class="navbar-text">
						{{student.student_university_ID}}  {{student.name}} {{student.surname}}  
					</span>
				</form> 
			</div>
		  </nav>
			
		<br>
		
		<div class="container">
			<div class="row" >
				<h3>Share List</h3>
				{% if have_stock == True %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-xs" href="/user/{{student.student_university_ID}}/{{toollist.id}}/confirm" >Submit</a>
				{% endif %}
				{% if have_stock == False %}
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-xs" >Submit</a>
					<font color="red">not enough item in stock</font>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-success btn-xs" href="/user/{{student.student_university_ID}}/{{toollist.id}}/auto_adjust" >ปรับจำนวนของอัตโนมัติ</a>
				{% endif %}
			</div><br>
			
			<div class="row" id= "row2" >
				<table class="table" id="table2" style="width:55%; float:right">
						<thead class= "thead-light">
							<tr>
								<th scope="col">Image</th>
								<th scope="col" style="width: 10rem">Name</th>
								<th scope="col">Amount</th>
							</tr>
						</thead>
						<tbody id="tableProducts">
							{% for order in toollist.orders %}
							<tr>
								{% if order.tool.picture == "" %}
								<td><img class="zoom" src="{{ url_for('static', filename='picture/no-image.png') }}" alt ="NoIMG"></td>
								{% else %}
								<td><img class="zoom" src="{{ url_for('static', filename='picture/' + order.tool.picture + '.jpg') }}" alt ="NoIMG"></td>
								{% endif %}								
								<td style="width: 10rem">{{order.tool.name}}</td>
								    <td>
											<input style="width: 2rem;" name="amout" value="{{order.amount}}" disabled>
									</td>
								
							</tr>
							{% endfor %}
							
						</tbody>
						<tfoot id= "total">
	
						</tfoot>
					</table>
            </div>
            
            <div class="login-form" style="float: right;">
                    <form >
                       <div class="form-group">
                          <label for="username_field"><b>Student ID</b></label>
                          <input type="text" class="form-control" placeholder="Enter Student ID" name="username_field" required auto>
                       </div>
                       <button class="btn btn-lg btn-info btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit">Share</button>
                    </form>
            </div>
			
		</div>
		<script type=text/javascript>
			function getUpdate() {
				$.getJSON("/status",
						function (data) {
							var status = data.status;
							if(status == '1'){
								$('#on').show()
								$('#off').hide()
							}
							else{
								$('#on').hide()
								$('#off').show()
							}
						}
				);
			}
			setInterval('getUpdate()', 100);
		</script>
	    </body>
</html>